workflows/hive-retrospective-analyzer.json
[
  {
    "updatedAt": "2026-04-10T21:47:09.000Z",
    "createdAt": "2026-04-07T20:39:52.038Z",
    "id": "emlKf2JJbtS3wLFo",
    "name": "\ud83d\udc1d \u00b7 \u2699\ufe0f Hive - Retrospective Analyzer",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "retrospective-analyzer",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "ra-001-webhook",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "retrospective-analyzer"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $env.PAPERCLIP_API_URL }}/api/companies/{{ $env.PAPERCLIP_COMPANY_ID || $json.body.companyId || $json.companyId }}/issues?projectId={{ $json.body ? $json.body.projectId : $json.projectId }}&status=done,failed",
          "options": {
            "timeout": 15000
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $env.PAPERCLIP_API_KEY }}"
              }
            ]
          }
        },
        "id": "ra-002-query-tickets",
        "name": "Query Tickets",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          260,
          0
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $env.PAPERCLIP_API_URL }}/api/companies/{{ $env.PAPERCLIP_COMPANY_ID || $json.body.companyId || $json.companyId }}/issues?projectId={{ $('Webhook Trigger').first().json.body ? $('Webhook Trigger').first().json.body.projectId : $('Webhook Trigger').first().json.projectId }}&labels=correction",
          "options": {
            "timeout": 15000
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $env.PAPERCLIP_API_KEY }}"
              }
            ]
          }
        },
        "id": "ra-003-query-corrections",
        "name": "Query Corrections",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          520,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const webhookData = $('Webhook Trigger').first().json;\nconst body = webhookData.body || webhookData;\nconst { projectId, runId } = body;\n\nconst ticketResponse = $('Query Tickets').first().json;\nconst correctionResponse = $('Query Corrections').first().json;\n\nconst tickets = Array.isArray(ticketResponse) ? ticketResponse : (ticketResponse.data || ticketResponse.tickets || []);\nconst corrections = Array.isArray(correctionResponse) ? correctionResponse : (correctionResponse.data || correctionResponse.corrections || []);\n\nconst totalTickets = tickets.length;\nconst completedTickets = tickets.filter(t => t.status === 'completed' || t.status === 'done').length;\nconst failedTickets = tickets.filter(t => t.status === 'failed' || t.status === 'rejected').length;\n\nconst cycleTimes = tickets\n  .filter(t => t.completedAt && t.createdAt)\n  .map(t => (new Date(t.completedAt) - new Date(t.createdAt)) / (1000 * 60 * 60));\nconst avgCycleTime = cycleTimes.length > 0\n  ? cycleTimes.reduce((a, b) => a + b, 0) / cycleTimes.length\n  : 0;\n\nconst correctionRate = totalTickets > 0 ? (corrections.length / totalTickets) * 100 : 0;\nconst defectRate = totalTickets > 0 ? (failedTickets / totalTickets) * 100 : 0;\n\nreturn [{\n  json: {\n    projectId,\n    runId,\n    metrics: {\n      totalTickets,\n      completedTickets,\n      failedTickets,\n      throughput: completedTickets,\n      avgCycleTimeHours: Math.round(avgCycleTime * 10) / 10,\n      correctionRate: Math.round(correctionRate * 10) / 10,\n      defectRate: Math.round(defectRate * 10) / 10,\n      totalCorrections: corrections.length\n    },\n    tickets,\n    corrections\n  }\n}];"
        },
        "id": "ra-004-compute-metrics",
        "name": "Compute Metrics",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          780,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\nconst { metrics, tickets, corrections } = data;\n\nconst patterns = [];\nconst bottlenecks = [];\n\nif (metrics.correctionRate > 30) {\n  patterns.push({ type: 'high-correction-rate', severity: 'warning', detail: metrics.correctionRate + '% of tickets required corrections' });\n}\nif (metrics.defectRate > 15) {\n  patterns.push({ type: 'high-defect-rate', severity: 'critical', detail: metrics.defectRate + '% ticket failure rate' });\n}\nif (metrics.avgCycleTimeHours > 48) {\n  patterns.push({ type: 'slow-cycle-time', severity: 'warning', detail: 'Average cycle time of ' + metrics.avgCycleTimeHours + 'h exceeds 48h target' });\n}\nif (metrics.throughput < metrics.totalTickets * 0.5) {\n  patterns.push({ type: 'low-throughput', severity: 'warning', detail: 'Only ' + metrics.throughput + '/' + metrics.totalTickets + ' tickets completed' });\n}\n\nconst correctionsByAgent = {};\n(corrections || []).forEach(c => {\n  const agent = c.assignedTo || c.agent || 'unknown';\n  correctionsByAgent[agent] = (correctionsByAgent[agent] || 0) + 1;\n});\n\nconst agentCorrections = Object.entries(correctionsByAgent)\n  .sort(([,a], [,b]) => b - a);\n\nif (agentCorrections.length > 0 && agentCorrections[0][1] > 3) {\n  bottlenecks.push({\n    type: 'agent-correction-hotspot',\n    agent: agentCorrections[0][0],\n    count: agentCorrections[0][1],\n    suggestion: 'Consider skill refresh or workload redistribution'\n  });\n}\n\nconst phaseDistribution = {};\n(tickets || []).forEach(t => {\n  const phase = t.phase || t.ssdlcPhase || 'unknown';\n  phaseDistribution[phase] = (phaseDistribution[phase] || 0) + 1;\n});\n\nconst healthScore = Math.round(Math.max(0,\n  100\n  - (metrics.defectRate * 2)\n  - (metrics.correctionRate * 0.5)\n  - (Math.max(0, metrics.avgCycleTimeHours - 24) * 0.5)\n));\n\nreturn [{\n  json: {\n    ...data,\n    analysis: {\n      patterns,\n      bottlenecks,\n      correctionsByAgent: Object.fromEntries(agentCorrections),\n      phaseDistribution,\n      healthScore\n    }\n  }\n}];"
        },
        "id": "ra-005-analysis",
        "name": "Analysis",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $json;\nconst { metrics, analysis } = data;\nconst lessons = [];\n\nif (analysis.patterns) {\n  analysis.patterns.forEach(p => {\n    if (p.type === 'high-correction-rate') {\n      lessons.push({\n        category: 'quality',\n        lesson: 'High correction rate indicates specification gaps or unclear acceptance criteria',\n        action: 'Strengthen requirements phase (P2) with concrete ACs and examples',\n        priority: 'high'\n      });\n    } else if (p.type === 'high-defect-rate') {\n      lessons.push({\n        category: 'process',\n        lesson: 'Elevated defect rate suggests insufficient review coverage',\n        action: 'Add pre-commit quality gates and pair review assignments',\n        priority: 'critical'\n      });\n    } else if (p.type === 'slow-cycle-time') {\n      lessons.push({\n        category: 'efficiency',\n        lesson: 'Long cycle times indicate blocking dependencies or scope creep',\n        action: 'Break tickets into smaller units; enforce ONE-SHOT sizing',\n        priority: 'medium'\n      });\n    } else if (p.type === 'low-throughput') {\n      lessons.push({\n        category: 'capacity',\n        lesson: 'Low completion rate suggests agent capacity mismatch or task complexity underestimation',\n        action: 'Review agent skill matching and task decomposition',\n        priority: 'high'\n      });\n    }\n  });\n}\n\nif (analysis.bottlenecks) {\n  analysis.bottlenecks.forEach(b => {\n    if (b.type === 'agent-correction-hotspot') {\n      lessons.push({\n        category: 'agent-performance',\n        lesson: 'Agent ' + b.agent + ' has ' + b.count + ' corrections \u2014 possible skill gap or overload',\n        action: b.suggestion,\n        priority: 'high'\n      });\n    }\n  });\n}\n\nconst healthScore = Math.round(analysis.healthScore || 0);\nif (healthScore < 50) {\n  lessons.push({\n    category: 'overall',\n    lesson: 'Project health score is ' + healthScore + '/100 \u2014 systemic improvements needed',\n    action: 'Schedule a focused retrospective with process owners',\n    priority: 'critical'\n  });\n} else if (healthScore < 75) {\n  lessons.push({\n    category: 'overall',\n    lesson: 'Project health score is ' + healthScore + '/100 \u2014 targeted improvements recommended',\n    action: 'Address top 2 patterns before next sprint',\n    priority: 'medium'\n  });\n}\n\nreturn [{\n  json: {\n    projectId: data.projectId,\n    runId: data.runId,\n    metrics: data.metrics,\n    analysis: data.analysis,\n    lessons,\n    completedAt: new Date().toISOString()\n  }\n}];"
        },
        "id": "ra-006-lessons",
        "name": "Extract Lessons",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1300,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.PAPERCLIP_API_URL }}/api/companies/{{ $env.PAPERCLIP_COMPANY_ID || $json.body.companyId || $json.companyId }}/issues",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ workflow: 'retrospective-analyzer', projectId: $json.projectId, runId: $json.runId, result: { metrics: $json.metrics, analysis: $json.analysis, lessons: $json.lessons }, completedAt: $json.completedAt }) }}",
          "options": {
            "timeout": 10000
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $env.PAPERCLIP_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "id": "ra-007-post",
        "name": "Post Results",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, workflow: 'retrospective-analyzer', metrics: $('Extract Lessons').first().json.metrics, analysis: $('Extract Lessons').first().json.analysis, lessons: $('Extract Lessons').first().json.lessons, completedAt: $('Extract Lessons').first().json.completedAt }) }}",
          "options": {}
        },
        "id": "ra-008-respond",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1820,
          0
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Query Tickets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query Tickets": {
        "main": [
          [
            {
              "node": "Query Corrections",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query Corrections": {
        "main": [
          [
            {
              "node": "Compute Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Metrics": {
        "main": [
          [
            {
              "node": "Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analysis": {
        "main": [
          [
            {
              "node": "Extract Lessons",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Lessons": {
        "main": [
          [
            {
              "node": "Post Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post Results": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "a48707bf-88f2-42db-8e98-5a5a458101ee",
    "activeVersionId": "a48707bf-88f2-42db-8e98-5a5a458101ee",
    "versionCounter": 49,
    "triggerCount": 1,
    "tags": [
      {
        "name": "hive"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-04-07T20:39:52.039Z",
        "createdAt": "2026-04-07T20:39:52.039Z",
        "role": "workflow:owner",
        "workflowId": "emlKf2JJbtS3wLFo",
        "projectId": "8NMDFJItxjOGmGGk",
        "project": {
          "updatedAt": "2026-04-07T20:36:08.613Z",
          "createdAt": "2026-03-07T22:14:48.979Z",
          "id": "8NMDFJItxjOGmGGk",
          "name": "Nico Rimmele <admin@example.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "8b1ccf42-d59f-45eb-9bf3-b9b33467e7b8"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]